/*
Theme Name: Hello Elementor Child
Theme URI: https://localhost:8080
Description: Thème enfant du thème Hello Elementor
Author: Abdel Maha
Author URI: 
Template: hello-elementor
Version: 1.0.0
*/

/* https://https://coolcup.fr */
